h1{
    font-family: serif !important;
    color: #121212;
    text-align: center;
    border: 3px groove #121212;
}

table{
    margin: 4em;
    border: 2px solid black;

}

th, td {
    margin: 1em;
    border: 1px solid black;
    padding: 1em 1em;
    background-color: whitesmoke;
}

th {
    border-bottom: 2px solid black;
    font-weight: bold;
}
